<!-- Views/Cart/Index.cshtml -->
@model IEnumerable<Projet.Models.CartItem>
@{
    ViewBag.Title = "Votre Panier";
    var products = ViewBag.Products as List<Projet.Models.Product>;
}

<h2>Votre Panier</h2>

<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var product = products.SingleOrDefault(p => p.ProductId == item.ProductId);
            if (product != null)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@product.Price Dt</td>
                    <td>@(product.Price * item.Quantity) Dt</td>
                </tr>
            }
        }
    </tbody>
</table>
